body
{
  margin: 0;
  padding: 0;
}

.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#main-title
{
  color: orange;
  text-align: center;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-container
{
  position: relative;
  width: fit-content;
  margin: 0 auto;
  overflow: hidden;
}

img
{
  display: block;
  width: 50%;
  height: auto;
  object-fit: cover;
}

p
{
  text-align: center;
  margin: 0;
  padding-bottom: 0;
}

button
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68%;
  height: auto;
  object-fit: cover;
  border: none;
  cursor: pointer;
  padding: 14px 191px;
  font-size: 32px;
  color: white;
  white-space: nowrap;
}

.button-container
{
  position: absolute;
  bottom: 100px;
  right: 100px;
  color: white;
  font-size: 24px;
  text-align: right;
}

.redbtn
{
  background-color: red;
}

.obtn
{
  background-color: orange;
}

.ybtn
{
  background-color: yellow;
  color: black;
}

.gbtn
{
  background-color: green;
}

.bluebtn
{
  background-color: blue;
}

.pubtn
{
  background-color: purple;
}

.pibtn
{
  background-color: hotpink;
}

button:hover
{
  background-color: white;
  color: black;
}

.tab-container
{
  width: 100%;
}

.tab-buttons
{
  display: flex;
}

.tab-button
{
  padding: 10px 20px;
  border: 1px solid brown;
  background-color: white;
  color: black;
  cursor: pointer;
}

.tab-button.active
{
  background-color: white;
  color: black;
  text-decoration: underline;
}