body
{
  margin: 0;
  padding: 0;
}

.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#main-title
{
  color: orange;
  text-align: center;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-container
{
  position: relative;
  width: fit-content;
  margin: 0 auto;
  overflow: hidden;
}

img
{
  display: block;
  width: 50%;
  height: auto;
  object-fit: cover;
}

p
{
  text-align: center;
  margin: 0;
  padding-bottom: 0;
  color: white;
}

button
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68%;
  height: auto;
  object-fit: cover;
  border: none;
  cursor: pointer;
  padding: 14px 191px;
  font-size: 32px;
  color: white;
  white-space: nowrap;
}

.button-container
{
  position: absolute;
  bottom: 80px;
  right: 100px;
  color: white;
  font-size: 24px;
  text-align: right;
}

.redbtn
{
  background-color: red;
}

.obtn
{
  background-color: orange;
}

.ybtn
{
  background-color: yellow;
  color: black;
}

.gbtn
{
  background-color: green;
}

.bluebtn
{
  background-color: blue;
}

.pubtn
{
  background-color: purple;
}

.pibtn
{
  background-color: hotpink;
}

button:hover
{
  background-color: white;
  color: black;
}

.tab-container
{
  width: 100%;
}

.tab-buttons
{
  display: flex;
}

.tab-button
{
  padding: 10px 20px;
  border: 1px solid brown;
  background-color: magenta;
  color: black;
  cursor: pointer;
}

.tab-button.active
{
  background-color: magenta;
  color: black;
  text-decoration: underline;
}

#main-title2
{
  color: lime;
  text-align: center;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#main-title3
{
  color: lightblue;
  text-align: center;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#main-title4
{
  color: skyblue;
  text-align: center;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#main-title5
{
  color: cyan;
  text-align: center;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#main-title6
{
  color: darkcyan;
  text-align: center;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#main-title7
{
  color: cadetblue;
  text-align: center;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#main-title8
{
  color: aliceblue;
  text-align: center;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 5px;
}


#main-title9
{
  color: maroon;
  text-align: center;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#sub-title
{
  color: red;
  margin-top: 5px;
  margin-bottom: 3px;
}

#edu
{
  color: red;
}

/*#sub-title2
{
  color: orangered;
  margin-top: 20px;
  margin-bottom: 3px;
}

#exp
{
  color: orangered;
}*/

#sub-title3
{
  color: indianred;
  margin-top: 20px;
  margin-bottom: 3px;
}

#cw
{
  color: indianred;
}


#sub-title4
{
  color: coral;
  margin-top: 20px;
  margin-bottom: 3px;
}

#act
{
  color: coral;
}

#sub-title5
{
  color: orange;
  margin-top: 20px;
  margin-bottom: 3px;
}

#ski
{
  color: orange;
}